@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #0bc558;
    --primary-color-dark: #0a9443;
    --secondary-color: #e72c7a;
    --secondary-color-dark: #971c4f;
    --bg-color: #1a1b1d;
    --bg-color-light: rgba(60, 60, 70, 0.63);
    --bg-shadow-light: rgb(37, 28, 37);
  }

  body {
    @apply bg-[var(--bg-color)] text-[#f5f5f5] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-wide;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-5xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl md:text-4xl;
  }

  button {
    @apply px-8 py-3 rounded-xl uppercase text-sm bg-gradient-to-r from-[var(--secondary-color)] to-[var(--secondary-color-dark)] text-white font-bold border-white border-[0.5px] hover:scale-105 ease-in duration-150 mx-3;
  }
}
